    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .mainWrapperForm {
    height: 100vh;
    background-image: url(../Form/Images/bg.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .Form_Content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
